# macOS system files
.DS_Store
pyBombCell/.DS_Store

# Python package files
pyBombCell/pyBombCell.egg-info/

# Common Python files to ignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.claude/
py_bombcell/.claude/
BC_demo_jf_tests.ipynb
py_bombcell/demos/
py_bombcell/sit/
py_bombcell/demos/BC_demo_spikeGLX_jf_test2.ipynb
matlab/gettingStarted_test.mlx
